numpy
scipy
scikit-learn
matplotlib
six
asynctest
codecov
coverage
flake8
interrogate
# Note: used for kwarray.group_items, this may be ported to mmcv in the future.
kwarray
pytest
ubelt
xdoctest>=0.10.0
yapf
opencv-python
xtcocotools
json_tricks
munkres
terminaltables
lab
pycocotools
motmetrics
seaborn
mmcls
einops
xtcocotools
ArgumentParser
gdown
mmcv-full==1.7.2
mmtrack
mmflow
mmpose
